nav a:hover {
    text-decoration: underline;
  }
  
  nav a:focus {
    text-decoration: underline; 
  }
  
  /* skip to content hover */
  .skip a {
    position: absolute;
    top: -20px;
  }
  
  .skip a:focus {
    top: 20px;
    border: 2px solid #000000;
  }
  
  